.icon {
    width: 3rem;
    height: auto;
}
.wrapper{
    display: flex;
    border: 0.1rem solid gray;
    box-shadow: 0 0 5px dimgrey;
    padding: 0.5rem;
    width: 70%;
    border-radius: 20px;
    margin: 2rem auto;
}
.title{
    text-align: left;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.toRightIcon {
    width: 3rem;
    height: auto;
    margin-left: auto;
}
