.card{
    width: 20rem;
    height: 18rem;
    border-radius: 2rem;
    transition: 1s;
    filter: brightness(65%)
}
.card:hover {
    transition: 1s;
    filter: brightness(90%);
}
.container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
    justify-content: space-evenly;
}
.smallContainer:hover {
    cursor: pointer;
    color: #966807;
    transition: 1s;
}
.smallContainer {
    transition: 1s;
}
.title {
    display: flex;
    gap:1rem;
    justify-content: center;
    padding: 5rem;
}
.name {
    padding: 2rem;
}

.drinkTitle {
    padding-bottom: 1rem;
}

.mainContainer {
    padding-bottom: 5rem;
}
.text {
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
}
.ingredients {
    border: 1px solid #ccb889;
    border-radius: 1rem;
    background-color: #ccb889;
    color: white;
    width: 30%;
    margin: 0 auto;
}
.price {
    padding: 1rem;
}
.quantity{
    display: flex;
    justify-content: center;
    gap:1rem;
    padding:  1rem 0;
}

.buttonQty {
    background-color: #ccb889;
    border-radius: 10rem;
    padding: 0.1rem 1rem;
    font-weight: bold;
    transition: 0.5s;

}

.buttonQty:hover {
    background-color: #c8ac32;
    border-radius: 10rem;
    padding: 0.1rem 1rem;
    font-weight: bold;
    transition: 0.5s;
    color: white;

}
