.tagsButton {
    width: 50px;
    height: 40px;
    background-color: #313132;
    border-radius: 40px 0px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00fbf4;
}
.tags {
    position: absolute;
    right: -1px;
    bottom: 16px;
    z-index: 999;
}
.containerName {
    background-color: rgba(32, 32, 33, 0.8);
    margin-left: 65px;
    width: 120px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.marker {
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    background-image: url("../../assets/icons/disc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
    z-index: 2;
}

.mainPageContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}




.filterButtonMainPage {
    width: 375px;
    height: 40px;
    background-color: #313132;
    display: flex;
    align-items: center;
    border-radius: 0px 40px 40px 0px;
}
.filterContainer {
    position: absolute;
    bottom: 16px;
    left: -325px;
    transition: 0.4s;
    z-index: 999;
}

.input {
    width: 308px;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
.img {
    margin-left: 20px;
}
.tagsButton {
    width: 50px;
    height: 40px;
    background-color: #313132;
    border-radius: 40px 0px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00fbf4;
}
.tags {
    position: absolute;
    right: -1px;
    bottom: 16px;
    z-index: 999;
}
.tagsContainerClose {
    width: 100%;
    height: 78px;
    background-color: #313132;
    position: absolute;
    bottom: 16px;
    z-index: 999;
    left: 100%;
    transition: 0.4s;
}
.tagsContainerOpen {
    width: 100%;
    height: 78px;
    background-color: #313132;
    position: absolute;
    bottom: 16px;
    z-index: 999;
    left: 0px;
    transition: 0.4s;
}
.itemCarousel {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}
.carouselContainer {
    width: 100%;
    margin-top: 20px;
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #00fbf4 !important;
}

.carousel.carousel-slider .control-arrow:hover {
    background: transparent !important;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid #00fbf4 !important;
}
.dot.selected {
    width: 30px !important;
    border-radius: 5px !important;
}

.headerBlock {
    color: #00fbf4;
    font-weight: 500;
    font-size: 18px;
    padding-top: 280px;
    margin-left: 5%;
}
.headerCafeBlock {
    color: #00fbf4;
    font-weight: 500;
    font-size: 18px;
    padding-top: 9px;
    margin-left: 5%;
}
.institutionContainer {
    width: 90%;
    margin-top: 8px;
}
.institutionInfoContainer {
    height: 68px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.78);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;


}
.institutionLogo{
    width: 56px;
    height: 56px;
    margin-left: 10px;
}

.institutionStar{
    display: flex;
    align-items: center;
}
.institutionNav{
    display: flex;
    align-items: center;
}
.institutionAddress{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.institutionInfo{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;

}
.text{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-left: 10px;
}
