.carousel{
    width: 78%;
    margin: 5rem auto;

}
.photo{
    width: 32rem;
    height: 20rem;
    border-radius: 5rem;
}
.slide{
    width: 32rem;
    margin-left: 4rem;
}
.smallTitle {
    background-color: white;
    opacity: 0.8;
    width: 80%;
    border-radius: 1rem;
    margin: 0 auto;
   padding: 0.5rem;
    color: black;
    position: relative;
    z-index: 1;
    bottom: 3rem
}
